.filter{
    margin-top: 30px;
    width: 95%;
    height: 80px;
    margin-left: 30px;
}
.newClientButton{
    margin-top: 30px;
    margin-left: 40px;
}
.tableuser{
    width: 95%;
    margin-left: 30px;
    height: 50%;
}